.app {
 display: flex;
 align-items: center;
 flex-direction: column;
}

button{
 background-color: lightgreen;
 border: 1px solid green;
 border-radius: 5px;
 padding: 10px;
 font-size: 20px;
 width: 10%;
}

.animal-list{
 display: flex;
 flex-direction: row;
 justify-content: center;
 flex-wrap: wrap;
}